docker/elasticsearch/data/nodes
docker/elasticsearch/logs
docker/db
docker/runtime
docker/logs
*.ipa
docker/nginx/html
.env

flutter/packages/growerp_agent
moqui/runtime/component/growerp-shopify/
moqui/runtime/component/growerp-agent/
test_output**


