name: catalog_example
description: A example project.
version: 1.0.0+1
publish_to: none
environment: 
  sdk: '>=3.0.0 <4.0.0'
dependencies: 
  flutter: 
    sdk: flutter
  cupertino_icons: ^1.0.2
  growerp_catalog: ^1.9.2

dependency_overrides:
  intl: ^0.18.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
flutter: 
  uses-material-design: true
  generate: true
  assets: 
    - assets/cfg/
