name: growerp_project
publish_to: none
environment:
  sdk: ^3.9.0
workspace:
  - packages/admin
  - packages/assessment
  - packages/freelance
  - packages/growerp
  - packages/growerp_activity
  - packages/growerp_activity/example
  - packages/growerp_catalog
  - packages/growerp_catalog/example
  - packages/growerp_chat
  - packages/growerp_chat/example
  - packages/growerp_core
  - packages/growerp_core/example
  - packages/growerp_courses
  - packages/growerp_courses/example
  - packages/growerp_inventory
  - packages/growerp_inventory/example
  - packages/growerp_marketing
  - packages/growerp_marketing/example
  - packages/growerp_models
  - packages/growerp_order_accounting
  - packages/growerp_order_accounting/example
  - packages/growerp_outreach
  - packages/growerp_outreach/example
  - packages/growerp_sales
  - packages/growerp_sales/example
  - packages/growerp_user_company
  - packages/growerp_user_company/example
  - packages/growerp_website
  - packages/growerp_website/example
  - packages/health
  - packages/hotel
  - packages/support
  - packages/website
dev_dependencies:
  melos: ^7.4.0
