name: catalog_example
resolution: workspace
description: A example project.
version: 1.0.0+1
publish_to: none
environment:
  sdk: ^3.9.0
  flutter: ^3.33.0
dependencies: 
  flutter: 
    sdk: flutter
  growerp_catalog: ^1.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter: 
  uses-material-design: true
  generate: true
  assets: 
    - assets/cfg/
